@import "tailwindcss";

/* Center the geocoder at the bottom */
.maplibregl-ctrl-bottom-left {
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
  bottom: 25px !important;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  max-width: 400px;
  width: calc(100vw - 40px);
  min-width: 300px;
}
